################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GOTEX/GatexDatabase/GatexDatabase.dbmdl
/GOTEX/GatexDatabase/GatexDatabase.jfm
