    <li class="nav-label">Desk</li>
    <li>
        <a href="#desk" aria-expanded="false" data-toggle="collapse">
            <i class="fas fa-people-carry text-warning"></i>
            <span class="hide-menu">Desk </span>
        </a>
        <ul id="desk" class="collapse" data-toggle="collapse" aria-expanded="False">
        @if (!User.IsInRole("OOCCE"))
        {
            <li>
                <a href="@Url.Content("~/Admin")">
                    <i class="fa fa-home text-gray"> </i>
                    <span class="nav-label"> My Desk</span>
                </a>
            </li>
        }
            
            <li>
                <a href="@Url.Content("~/Admin/StaffDesk")">
                    <i class="fa fa-user text-gray"> </i> 
                    <span class="nav-label"> Staff Desk</span>
                </a>
            </li>
        
        </ul>
    </li>
    <hr />
    @if (!User.IsInRole("Planning"))
    {
        <li class="nav-label">Application</li>
        <li>
            <a data-toggle="collapse" href="#submenu1" aria-expanded="false">
                <i class="far fa-folder-open text-warning"> </i>
                <span class="nav-label ">Application (s) </span>
            </a>
            <ul id="submenu1" class="collapse"  data-toggle="collapse"  aria-expanded="False">
                <li>
                    <a href="@Url.Content("~/Application/All")">
                        <i class="far fa-clone text-gray"> </i> 
                        <span class="nav-label"> All Applications</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Admin/CompanyList")">
                        <i class="far fa-circle text-gray"> </i>
                        <span class="nav-label"> All Companies</span>
                    </a>
                </li>
                
            </ul>
        </li>
        <hr />
    }
    @if (User.IsInRole("Support"))
    {
        <partial name="_SupportLayout"/>
    }
    @if (!User.IsInRole("Company") || !User.IsInRole("Support"))
    {
        <partial name="_StaffLayout"/>
    }
    
