<li class="nav-label">My Account</li>
<li>
    <a data-toggle="collapse" href="#myaccount" aria-expanded="false">
        <i class="far fa-user text-warning"> </i>
        <span class="hide-menu">Account</span>
    </a>
    <ul aria-expanded="false"  data-toggle="collapse" class="collapse" id="myaccount">
        <li>
            <a href="/Company/DocumentLibrary">
                <i class="far fa-clone"> </i>
                <span class="nav-label"> Document Library</span>
            </a>
        </li>

        <li>
            <a href="/Dashboard/CompanyProfile">
                <i class="far fa-building"> </i> <span>Profile</span>
            </a>
        </li>
    </ul>
</li>
<hr />