@inject RoleManager<ApplicationRole> _roleManager
@inject UserManager<ApplicationUser> _userManager
<div class="left-sidebar" style="background: #001a33; overflow: scroll;" id="SB" >
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" >
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav" >
            <ul>
                <li class="text-center">
                    <div style="font-size: x-large; font-weight: bolder; margin-bottom: 1em; margin-top: 1em; color: #3affff; ">
                        <i class="fa fa-user"></i> @GetUserDisplayRoleName(User.Identity.Name)?.ToUpper()
                    </div>
                </li>
                <hr/>
                <li class="nav-devider"></li>
                @if (!User.IsInRole("Staff") && !User.IsInRole("Support") && !User.IsInRole("Admin") && !User.IsInRole("ICT") && !User.IsInRole("ED_STA") && !User.IsInRole("ACE_STA"))
                {
                    <li class="nav-label"> Dashboard </li>

                    <li class="">
                        <a class="" href="@Url.Action("Index", "Dashboard")" aria-expanded="false">
                            <i class="fas fa-tachometer-alt text-warning"></i><span class="hide-menu"> Dashboard </span>
                        </a>

                    </li>

                    <hr/>
                    
                }
                
                @if (User.IsInRole("ED_STA") || User.IsInRole("ACE_STA"))
                {
                    var display = User.IsInRole("ED_STA") ? "ED's Desk" : "ACE's Desk";
                    <li class="nav-label"> @display </li>

                    <li class="">
                        <a class="" href="@Url.Action("AceDesk", "Dashboard")" aria-expanded="false">
                            <i class="fas fa-tachometer-alt text-warning"></i><span class="hide-menu"> View @display </span>
                        </a>

                    </li>

                    <hr/>
                }
                else
                {
                    <partial name="_AdminSideBar"/>
                    <li class="nav-label">My Work(s)</li>
                    <li>
                        <a href="@Url.Action("Outbox", "Admin")">
                            <i class="fa fa-list text-warning"> </i>
                            <span class="hide-menu">My Work(s)</span>
                        </a>
                    </li>
                    <hr />
                }
            </ul>
            <br />

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
@functions
{
    private string GetUserDisplayRoleName(string email)
    {
        var user = _userManager.FindByEmailAsync(email).Result;
        var userrole =  _userManager.GetRolesAsync(user).Result;
        
        var role =  _roleManager.FindByNameAsync(userrole.FirstOrDefault()).Result;

        return role.DisplayName;
    }
}
