@using GOTEX.Core.Utilities
@model List<ChartModel>

@{
    ViewBag.Title = "Application Report";
}
<div class="card">
    <div class="card">
        <h2 class="alert alert-primary col-md-4" style="float: left">All Applications Report</h2>
        <div>
            @using (Html.BeginForm("ApplicationReport", "Admin", FormMethod.Post, new {@id = "formsearch"}))
            {

                <div class="input-group col-md-9">
                    <input name="startDate" id="startDate" class="form-control datePicker col-md-5" placeholder="Start Date"/>
                    <span class="input-group-addon">To</span>
                    <input name="endDate" id="endDate" class="form-control datePicker col-md-5" placeholder="End Date"/>
                    <input type="submit" value="Filter" class="col-md-2 btn btn-success input-append"/>
                </div>
                <div class="clear"></div>
            }
        </div>
    </div>
     <div class="card">
                <h2 class="alert alert-warning col-md-3">Report Chart</h2>
                <div id="data" class="fade">@Model.Stringify()</div>
                @* <div id="chartContainer" style="height: 370px; width: 100%;"></div> *@
                @* <script src="~/Scripts/js/chart.js"></script> *@
                @* *@
                <div id="chartdiv"></div>
            </div>
</div>
<style>
#chartdiv {
  width: 100%;
  height: 600px;
}
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
@section scripts{
    <script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.css">
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet"/>
    <link href="~/Content/jquery-ui.css" rel="stylesheet"/>
    <script type="text/javascript"> 
        $(document).ready(function () {
            $(".datePicker").datepicker({
              startDate:null,
              endDate:null,
            });
        });

    </script>
    <script> 
        am4core.ready(function() {
        
            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end
            
            // Create chart instance
            var chart = am4core.create("chartdiv", am4charts.XYChart);
            
            //
            
            // Increase contrast by taking evey second color
            chart.colors.step = 2;
            
            // Add data
            chart.data = generateChartData();
            
            // Create axes
            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
            //dateAxis.renderer.minGridDistance = 50;
            dateAxis.dateFormats.setKey("day", "MMMM dd yyyy");
            
            // Create series
            function createAxisAndSeries(field, name, opposite, bullet) {
              var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
              // if(chart.yAxes.indexOf(valueAxis) != 0){
              //   valueAxis.syncWithAxis = chart.yAxes.getIndex(0);
              // }
              valueAxis.min = 0;
              valueAxis.extraMax = 10; 
              
              var series = chart.series.push(new am4charts.LineSeries());
              series.dataFields.valueY = field;
              series.dataFields.dateX = "date";
              series.strokeWidth = 2;
              series.yAxis = valueAxis;
              series.name = name;
              series.tooltipText = "{name}: [bold]{valueY}[/]";
              series.tensionX = 0.8;
              series.showOnInit = true;
              
              var interfaceColors = new am4core.InterfaceColorSet();
              
              switch(bullet) {
                case "triangle":
                  var bullet = series.bullets.push(new am4charts.Bullet());
                  bullet.width = 12;
                  bullet.height = 12;
                  bullet.horizontalCenter = "middle";
                  bullet.verticalCenter = "middle";
                  
                  var triangle = bullet.createChild(am4core.Triangle);
                  triangle.stroke = interfaceColors.getFor("background");
                  triangle.strokeWidth = 2;
                  triangle.direction = "top";
                  triangle.width = 12;
                  triangle.height = 12;
                  break;
                case "rectangle":
                  var bullet = series.bullets.push(new am4charts.Bullet());
                  bullet.width = 10;
                  bullet.height = 10;
                  bullet.horizontalCenter = "middle";
                  bullet.verticalCenter = "middle";
                  
                  var rectangle = bullet.createChild(am4core.Rectangle);
                  rectangle.stroke = interfaceColors.getFor("background");
                  rectangle.strokeWidth = 2;
                  rectangle.width = 10;
                  rectangle.height = 10;
                  break;
                default:
                  var bullet = series.bullets.push(new am4charts.CircleBullet());
                  bullet.circle.stroke = interfaceColors.getFor("background");
                  bullet.circle.strokeWidth = 2;
                  break;
              }
              
              valueAxis.renderer.line.strokeOpacity = 1;
              valueAxis.renderer.line.strokeWidth = 2;
              valueAxis.renderer.line.stroke = series.stroke;
              valueAxis.renderer.labels.template.fill = series.stroke;
              valueAxis.renderer.opposite = opposite;
            }
            
            createAxisAndSeries("approved", "Approved", false, "circle");
            createAxisAndSeries("declined", "Declined", true, "triangle");
            createAxisAndSeries("processing", "Processing", true, "rectangle");
            
            // Add legend
            chart.legend = new am4charts.Legend();
            
            // Add cursor
            chart.cursor = new am4charts.XYCursor();
            
            // generate some random data, quite different range
            function generateChartData() {
              var chartData = [];
              var data = JSON.parse($("#data").html());
              
            
              for (var i = 0; i < data.length; i++) {
                // we create date objects here. In your data, you can have date strings
                // and then set format of your dates using chart.dataDateFormat property,
                // however when possible, use date objects, as this will speed up chart rendering.
                var newDate = new Date(data[i].Date);
                
                chartData.push({
                  date: newDate,
                  approved: data[i].Approved,
                  processing: data[i].Processing,
                  declined: data[i].Rejected
                });
              }
              return chartData;
            }
        
        });
    </script>
}