@using GOTEX.Core.Utilities
@model PaymentEvidence

@{
    Layout = null;
}
<form action="/Admin/EditPaymentEvidence" method="post" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.Id"/>

    <div class="form-group">
        <label asp-for="ReferenceCode" class="form-label"></label>
        <input type="text" class="form-control" asp-for="ReferenceCode" />
    </div>
    <div class="form-group">
        <label asp-for="HashCode" class="form-label"></label>
        <input type="text" class="form-control" asp-for="HashCode"/>
    </div>
    <div class="form-group">
        <label asp-for="ApplicationQuantity" class="form-label"></label>
        <input type="number" class="form-control" asp-for="ApplicationQuantity"/>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="form-label"></label>
        <input type="number" class="form-control" step="0.01" asp-for="Amount"/>
    </div>
    <div class="form-group">
        <label asp-for="UsageCount" class="form-label"></label>
        <input type="number" class="form-control" asp-for="UsageCount"/>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Description"/>
    </div>    
    <div class="form-group">
        <input type="submit" name="Submit" class="form-control btn btn-sm btn-info" value="Update" />
    </div>
</form>