@model List<Application>
@{
    ViewBag.Title = "My Desk";
}

<center>
    <div class="card" style="border-radius: 5px;; margin-top: 2em; padding: 1em;">
        
        <h2 class="btn btn-success col-md-3"><b>Application(s) on my Desk</b></h2>
        @if (ViewBag.Message != null)
        {
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    @ViewBag.Message
                </div>
            </div>
        }
        <table id="example" class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Company Name</th>
                <th>
                    Reference
                </th>
                <th>Product</th>
                <th>Status</th>
                <th>Date Applied</th>
                <th></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</center>

@section scripts{
    <!-- Datatables -->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    
    <script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
    <script src="~/ela/js/dataTables.checkboxes.min.js"></script>
    <script src="~/ela/js/dataTables.min.js"></script>
    @* Jquery data table scripts *@
    <script src="~/ela/js/dataTables.buttons.min.js"></script>
    <script>
        $(document).ready(function() {  
            $("#example").dataTable({  
                "processing": true, // for show progress bar    
                "serverSide": true, // for process server side    
                "filter": true, // this is for disable filter (search box)    
                "orderMulti": false, // for disable multiple column at once    
                "ajax": {  
                    "url": "/Admin/MyDesk",  
                    "type": "POST",  
                    "datatype": "json"  
                },  
                "columnDefs": [{  
                    "targets": [0],  
                    "visible": true,  
                    "searchable": false  
                }],  
                "columns": [  
                    { "data": "id", "name": "Id", "autoWidth": true },  
                    { "data": "user.company.name", "name": "Company Name", "autoWidth": true },  
                    { "data": "reference", "name": "Reference", "autoWidth": true },  
                    { "data": "product.name", "name": "Product", "autoWidth": true },  
                    { "data": "status", "name": "Status", "autoWidth": true },  
                    { "data": "dateView", "name": "Date Applied", "autoWidth": true },  
                    {  
                        "render": function(data, type, full, meta) { return '<a class="btn btn-info" href="@Url.Content("/Admin/ViewApplication/")' + full.id + '">View</a>'; }  
                    },  
                ]  
      
            });  
        });  
    </script>
}