
@{
    ViewData["Title"] = "Create";
}

<style>
    .success{
        margin: 4rem auto;
        width: 500px;
        background-color: seagreen;
        padding: 2rem;
        border-radius: 10px;
    }

    .success h3{
            color: white;
    }
</style>

<div class="success">
    <h3>@ViewData["Message"]</h3>
</div>

